<footer class="footer">
    <h4 class="footer-heading">© OMDENA</h4>
    <hr class="footer-hr">
    <p class="footer-subheading">VIT Bhopal Local Chapter</p>
    <p class="footer-txt">Vellore Institute of Techonolgy University</p>

</footer>
</body>
</html>